@CHARSET "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	font-family: 'Lato';
}
form.mt-3.p-3.form {
	
}

.formacc {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.head {
	margin-left: 20px;
	
}

.cont {
	margin-top: 110px;
}

button.btn {
	width: 100%;
}

input#from_date:hover, 
input#to_date:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table-custom {
	padding:10px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 20px;
}

input[type="search"] {
	border-radius: 5px;
	border: 1px solid black;
	padding : 5px;
	outline: none; 
}